"geekos_ldap_host": ""
"geekos_ldap_port": ""
"geekos_ldap_base": ""
"geekos_ldap_login": ""
"geekos_ldap_password": ""
"geekos_mongodb_server": "localhost"
"geekos_trello_key": ""
"geekos_trello_token": ""
"geekos_trello_lists": ""
"geekos_fuze_secret": ""
"oic_provider_url": ""
"oic_client_id": ""
"oic_secret": ""
